.vscode/**
.vscode-test/**
out/**
src/**
webview-ui/src/**
webview-ui/node_modules/**
webview-ui/public/**
webview-ui/*.json
webview-ui/*.js
webview-ui/*.ts
webview-ui/*.md
webview-ui/index.html
.docs/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
*.vsix
AGENTS.md
.vscode-test.mjs
eslint.config.mjs
node_modules/@types/**
node_modules/@vscode/**
node_modules/esbuild/**
node_modules/eslint/**
node_modules/typescript/**
node_modules/typescript-eslint/**
node_modules/npm-run-all/**
node_modules/electron-rebuild/**
node_modules/.bin/**
