.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
webview-ui/src/**
webview-ui/node_modules/**
webview-ui/public/**
webview-ui/*.json
webview-ui/*.js
webview-ui/*.ts
webview-ui/*.md
webview-ui/index.html
.docs/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
*.vsix
AGENTS.md
.vscode-test.mjs
eslint.config.mjs
