.vscode/**
.vscode-test/**
out/**
src/**
webview-ui/src/**
webview-ui/node_modules/**
webview-ui/public/**
webview-ui/*.json
webview-ui/*.js
webview-ui/*.ts
webview-ui/*.md
webview-ui/index.html
.gitignore
esbuild.js
**/tsconfig.json
**/*.map
**/*.ts
*.vsix
node_modules/@types/**
node_modules/@vscode/**
node_modules/esbuild/**
node_modules/typescript/**
node_modules/npm-run-all/**
node_modules/.bin/**
